@charset "UTF-8";
html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  counter-reset: line-counter;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #ECECEC;
  color: #FAFAFA;
  min-width: 310px !important;
  line-height: 1.25;
  min-height: 100vh;
  width: 100% !important;
  overflow-y: hidden;
  overflow-x: hidden !important;
  font-size: 16px;
}

* {
  font-family: "Segoe UI", "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
*:focus {
  outline: none;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-selection {
  background: #d1c524;
  opacity: 1;
  color: #FAFAFA;
}

::selection {
  background: #d1c524;
  color: #FAFAFA;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 2px 2px 2px -7px;
  right: 0;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #666;
}

.material {
  font-family: "Material Icons", "Roboto", "Segoe UI", sans-serif;
  font-size: 1.3em;
}

body {
  display: grid;
  grid-template-areas: "nav  nav" "sidebar  main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 444px auto;
  grid-template-rows: 66px auto;
}

.logo {
  font-family: "Aleo", "Roboto", "Segoe UI";
  font-style: italic;
  text-transform: uppercase;
}

nav {
  grid-area: nav;
  background-color: #DFD543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
  padding: 8px 20px;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #FAFAFA;
}
nav div {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
nav a, nav span {
  margin-right: 2vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
nav .dropdown:after {
  padding-left: 10px;
  content: "▼";
  font-size: 0.5em;
}
nav .dropdown-container {
  position: relative;
  margin-top: -8px;
  padding-top: 8px;
  background-color: inherit;
}
nav .dropdown-container:hover .menu {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 200px;
  padding: 15px 20px;
}
nav .dropdown-container:hover .menu a {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
nav .dropdown-container .menu {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 58px;
  padding: 0 20px;
  padding-right: 50px;
  height: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.7em;
  z-index: 5;
  background-color: inherit;
}
nav .dropdown-container .menu a {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding-right: 20px;
  display: none;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}
nav .dropdown-container .menu2 {
  left: auto;
  text-align: right;
  right: 58px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
nav .dropdown-container .menu2 a {
  text-align: right;
  padding-right: 0;
  padding-left: 20px;
}
nav .logo {
  font-size: 1.4em;
  padding-right: 2vw;
  border-right: 1px solid #FAFAFA;
  margin-right: 2vw;
}
nav .profile {
  margin-right: 0px;
  text-align: right;
}
nav .profile span {
  margin: 0;
  margin-right: 12px;
}
nav .profile img {
  display: block;
  height: 100%;
  width: 50px;
  border-radius: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #171717;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 20px 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #FAFAFA;
}
.sidebar .center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar .center form {
  width: 100%;
  margin: 0;
}
.sidebar .center button {
  text-transform: uppercase;
  min-width: calc(50% - 3px) !important;
  width: calc(50% - 3px) !important;
  margin: 0 !important;
}
.sidebar .center button.dark {
  min-width: calc(50% - 3px) !important;
  width: calc(50% - 3px) !important;
}
.sidebar a button {
  margin: 0;
}
.sidebar .title {
  font-size: 4.5em;
  text-align: center;
  width: 100%;
  margin: 3vh auto 6vh;
  text-transform: uppercase;
  font-weight: 500;
  font-stretch: semi-expanded;
}
.sidebar .title:hover {
  color: #DFD543;
}
.sidebar .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sidebar .actions h1 {
  width: 80%;
  font-style: italic;
  border-bottom: 2px solid #FAFAFA;
  font-size: 2.1em;
  margin-bottom: 4vh;
}
.sidebar .actions h2 {
  width: 45px;
  word-break: keep-all;
  word-wrap: normal;
  font-style: italic;
  border-bottom: 1px solid #FAFAFA;
  font-size: 1.3em;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 500;
}
.sidebar .actions table {
  margin-bottom: 20px;
  width: 100%;
}
.sidebar .actions table td {
  font-size: 1em;
  padding-bottom: 20px;
  width: 40%;
  text-align: left;
}
.sidebar button {
  min-width: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.sidebar button.dark {
  background-color: #171717;
  border: 1px solid #FAFAFA;
  text-transform: uppercase;
  min-width: 70%;
  width: 80%;
  max-width: 100%;
  margin: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.arrow {
  padding-right: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: inline-block;
}
.arrow select {
  padding: 30px 70px 30px 55px;
  margin: 0;
}
.arrow select:hover, .arrow select:focus {
  -webkit-transform: none;
          transform: none;
}
.arrow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.arrow:after {
  position: relative;
  top: -4px;
  color: #FAFAFA;
  margin-left: -64px;
  content: "▼";
  font-size: 0.8em;
}

button, select {
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-bottom: 3vh;
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  text-transform: capitalize;
  background-color: #DFD543;
  border: 0px solid #DFD543;
  cursor: pointer;
  color: #FAFAFA;
}
button:hover, select:hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
button.faded, select.faded {
  color: #e3e3e3;
  text-decoration: line-through;
}
button option, select option {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 20px 0;
}
button option[value="0"], select option[value="0"] {
  display: none;
}
button option:hover, button option:focus, select option:hover, select option:focus {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #DFD543;
}

main {
  grid-area: main;
  background-color: #ECECEC;
  padding: 80px 80px 20px;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #171717;
}
main h1 {
  margin-bottom: 2vh;
  border-bottom: 1px solid #171717;
  display: inline-block;
}
main ul {
  padding-left: calc(1em*1.25);
}
main button, main select {
  text-transform: uppercase;
  padding: 30px 55px;
  font-size: 1.5em;
  background-color: #171717;
  border: 0px solid #171717;
}
main .modes {
  width: calc(100% + 6vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin: 7vh -3vh 0px -3vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: calc(100vh - (66px + 80px + 0px + 30px + 7vh + 30px + (1.5em*1.25)));
  overflow-y: auto;
}
main .modes div {
  padding: 2vh 3vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  width: 50%;
  min-width: 33%;
}
@media only screen and (max-width: 1025px) {
  main .modes div {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  main .modes div {
    width: 100%;
  }
}
main .modes div button {
  padding-left: 0;
  padding-right: 0;
  min-width: 80%;
  max-width: 80%;
  z-index: 3;
  margin: 0;
  width: 80%;
}
main .modes div span {
  background-color: #FAFAFA;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: -30px;
  padding: 50px 20px 20px;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  color: #FAFAFA;
  background-color: #171717;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.classes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: calc(100vw - 160px - 444px);
  overflow-x: auto;
  -webkit-scroll-snap-type: x;
      -ms-scroll-snap-type: x;
          scroll-snap-type: x;
  -webkit-scroll-snap-points-x: repeat(calc(350px + 80px));
      -ms-scroll-snap-points-x: repeat(calc(350px + 80px));
          scroll-snap-points-x: repeat(calc(350px + 80px));
  -webkit-scroll-snap-type: x mandatory;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.classes.drar {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-scroll-snap-points-x: none;
      -ms-scroll-snap-points-x: none;
          scroll-snap-points-x: none;
  -webkit-scroll-snap-type: none;
      -ms-scroll-snap-type: none;
          scroll-snap-type: none;
}
.classes::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
.classes::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  display: none;
}

.class {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  scroll-snap-align: start;
  margin-right: 80px;
  height: calc(100vh - 66px - 80px - 80px);
  width: 320px;
  min-width: 320px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #FAFAFA;
}
.class > * {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.class .students {
  padding: 0px 20px 0px;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  overflow: auto;
}
.class .students p {
  display: block;
  margin-bottom: 10px;
}
.class .students[contenteditable="true"] {
  padding-bottom: 20px;
  padding-left: 40px;
}
.class .students[contenteditable="true"] p {
  position: relative;
}
.class .students[contenteditable="true"] p::before {
  top: 3px;
  width: 2em;
  bottom: 0;
  left: -3em;
  font-size: 0.7em;
  text-align: right;
  color: #2e2e2e;
  counter-increment: line-counter 1;
  content: counter(line-counter);
  position: absolute;
}
.class .fot {
  background-color: #FAFAFA;
  padding-top: 0;
}
.class .choices {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-top: 1px solid #171717;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}
.class .choices button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.5;
  width: 28px;
  height: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  min-width: 0;
}
.class .choices button img {
  margin: 0;
  width: 28px;
}
.class .choices button:hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.9;
}
.class .choices div button {
  margin-left: 20px;
}

input {
  border: 1px solid #171717;
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 2vh;
  padding: 20px;
}

.modalWrapper {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.modalWrapper .bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.modalWrapper .modal {
  z-index: 11;
  padding: 0px;
  background-color: #FAFAFA;
  color: #171717;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.modalWrapper .modal .tittel {
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #171717;
  color: #FAFAFA;
  font-size: 1.5em;
  margin-bottom: 2vh;
}
.modalWrapper .modal form {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modalWrapper .modal form input {
  width: 100%;
}
.modalWrapper .modal form button {
  margin-bottom: 0;
  display: inline-block;
  min-width: 0;
  width: 45%;
  margin-top: 6vh;
  background-color: #171717;
}
.modalWrapper .modal form button.cancel {
  background-color: #DFD543;
}

.nrbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  width: auto;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.seating {
  display: inline-block;
  overflow: visible;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.seating .seats {
  margin-top: 30px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: calc(100vh - 66px - 80px - 180px + 30px);
  width: calc(100% + 30px);
}
.seating .seats .columns {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.seating .seats .sete {
  margin-bottom: 30px;
  background-color: #FAFAFA;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 5px;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*# sourceMappingURL=main.css.map */