@charset "UTF-8";
html {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  background-color: #ECECEC;
  color: #FAFAFA;
  font-family: "Roboto", "Segoe UI", sans-serif;
  min-width: 310px !important;
  line-height: 1.25;
  min-height: 100vh;
  width: 100% !important;
  overflow-y: hidden;
  overflow-x: hidden !important;
  font-size: 12px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
*:focus {
  outline: none;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-selection {
  background: #d1c524;
  opacity: 1;
  color: #FAFAFA;
}

::selection {
  background: #d1c524;
  color: #FAFAFA;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 2px 2px 2px -7px;
  right: 0;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #666;
}

.material {
  font-family: "Material Icons", "Roboto", "Segoe UI", sans-serif;
  font-size: 1.7em;
}

body {
  display: grid;
  grid-template-areas: "nav  nav" "sidebar  main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 444px auto;
  grid-template-rows: 66px auto;
}

.logo {
  font-family: "Aleo", "Roboto", "Segoe UI";
  font-style: italic;
  text-transform: uppercase;
}

nav {
  grid-area: nav;
  background-color: #DFD543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2em;
  padding: 8px 20px;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #FAFAFA;
}
nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
nav a, nav span {
  margin-right: 2vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .dropdown:after {
  padding-left: 10px;
  content: "▼";
  font-size: 0.6em;
}
nav .dropdown-container {
  position: relative;
  margin-top: -8px;
  padding-top: 8px;
}
nav .dropdown-container:hover .menu {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 200px;
}
nav .dropdown-container .menu {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  display: none;
  position: absolute;
  left: 0;
  top: 58px;
  padding: 20px;
  padding-right: 50px;
  height: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.9em;
  background-color: #DFD543;
}
nav .dropdown-container .menu a {
  margin: 0;
  line-height: 1;
}
nav .logo {
  font-size: 1.5em;
  padding-right: 2vw;
  border-right: 1px solid #FAFAFA;
  margin-right: 2vw;
}
nav .profile {
  margin: 0;
}
nav .profile span {
  margin-right: 12px;
}
nav .profile img {
  display: block;
  height: 100%;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #171717;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #FAFAFA;
}
.sidebar .title {
  font-size: 6em;
  text-align: center;
  width: 100%;
  margin: 3vh auto 6vh;
  text-transform: uppercase;
  font-weight: 500;
  font-stretch: semi-expanded;
}
.sidebar .title:hover {
  color: #DFD543;
}
.sidebar .info {
  width: 80%;
  font-style: italic;
  border-bottom: 2px solid #FAFAFA;
  font-size: 2.8em;
  margin-bottom: 4vh;
}
.sidebar .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sidebar .actions button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-bottom: 3vh;
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7em;
  text-transform: capitalize;
  background-color: #DFD543;
  border: 0px solid #DFD543;
  cursor: pointer;
  color: #FAFAFA;
}
.sidebar .actions button:hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.sidebar .actions button.faded {
  color: #e3e3e3;
  text-decoration: line-through;
}

main {
  grid-area: main;
  background-color: #ECECEC;
  padding: 80px;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #171717;
}

/*# sourceMappingURL=main.css.map */