// ======================================= Variables
// ============ Colors

$SidebarBG: #171717
//$SidebarColor: #CECECE
$MainBG: #ECECEC
//$BGColor: #EDEDED
$NavBG: #DFD543
//$TitleColor: #E0E0E0
$W: #FAFAFA
//$W: #1D1D1D

$amount: 9

$Scale: scale(1.05)

$Shadow: 0px 3px 5px rgba(0,0,0,0.3)
$BigShadow: 0px 3px 9px 3px rgba(0,0,0,0.4)

// ============ Mobile
$MobileS: "only screen and (max-width : 334px)"
$MobileM: "only screen and (max-width : 376px)"
$MobileXM: "only screen and (max-width : 395px)"
$MobileL: "only screen and (max-width : 426px)"
$MobileXL: "only screen and (max-width : 500px)"
$MobileXXL: "only screen and (max-width : 575px)"

// ============ Tablet
$TabletS: "only screen and (max-width : 650px)"
$TabletM: "only screen and (max-width : 700px)"
$TabletL: "only screen and (max-width : 800px)"

// ============ Laptop
$Laptop: "only screen and (max-width : 1025px)"

// ============ Desktop
$Desktop: "only screen and (max-width : 1290px)"

// ============ Transitions
$Fast: all 0.1s ease-in-out
$Medium: all 0.25s ease-in-out
$Slow: all 0.4s ease-in-out

// ============================================= CSS
html
  transition: all 0s ease
  scroll-behavior: smooth
  -moz-scroll-behavior: smooth
  -webkit-scroll-behaviour: smooth
  -webkit-font-smoothing: antialiased
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0,0,0,0)

body
  transition: all 0s ease
  background-color: $MainBG
  color: $W
  font-family: 'Roboto', 'Segoe UI', sans-serif
  min-width: 310px !important
  line-height: 1.25
  min-height: 100vh
  width: 100% !important
  overflow-y: hidden
  overflow-x: hidden !important
  font-size: 12px

*
  // border: 1px solid red
  box-sizing: border-box
  margin: 0
  padding: 0
  border-collapse: collapse
  //user-select: none

  &:focus
    outline: none

a
  color: $W
  text-decoration: none
  //color: black

img
  //background-color: $LightColor
  user-select: none
  //filter: grayscale(1)

::-moz-selection
  background: darken($NavBG, $amount)
  opacity: 1
  color: $W

::selection
  background: darken($NavBG, $amount)
  color: $W
  opacity: 1

::-webkit-scrollbar
  width: 5px
  margin: 2px 2px 2px -7px
  right: 0
  //border-radius: 2.5px
  box-shadow: $Shadow

::-webkit-scrollbar-thumb
  transition: all 0.3s ease-in-out
  background: #999
  //border-radius: 2.5px

  &:hover
    transition: all 0.3s ease-in-out
    background: #666
// =============================================================================================================

.material
  font-family: 'Material Icons', 'Roboto', 'Segoe UI', sans-serif
  font-size: 1.7em

body
  display: grid
  grid-template-areas:  "nav  nav" "sidebar  main"
  height: 100vh
  width: 100vw
  overflow: hidden
  grid-template-columns: 444px auto
  grid-template-rows: 66px auto


.logo
  font-family: 'Aleo', 'Roboto', 'Segoe UI'
  font-style: italic
  text-transform: uppercase


nav
  grid-area: nav
  background-color: $NavBG
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  font-size: 2em
  padding: 8px 20px
  height: 100%
  width: 100%
  flex-grow: 1
  color: $W

  div
    background-color: inherit
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: stretch

  a, span
    margin-right: 2vw
    display: inline-flex
    height: 100%
    flex-grow: 1
    align-items: center
    flex-flow: row nowrap
    //justify-content: space-between

  .dropdown

    &:after
      padding-left: 10px
      content: "▼"
      font-size: 0.6em

  .dropdown-container
    position: relative
    margin-top: -8px
    padding-top: 8px
    background-color: inherit

    &:hover .menu
      transition: $Fast
      //display: inline-flex
      height: 200px
      padding: 15px 20px

      a
        transition: $Fast
        display: inline-flex


    .menu
      transition: $Fast
      overflow: hidden
      //display: none
      position: absolute
      left: 0
      top: 58px
      padding: 0 20px
      padding-right: 50px
      height: 0px
      //width: 155px
      flex-flow: column nowrap
      justify-content: space-between
      align-items: flex-start
      font-size: 0.9em
      background-color: inherit


      a
        transition: $Fast
        padding-right: 20px
        display: none
        margin: 0
        align-items: center
        //margin-bottom: 1em
        line-height: 1


    .menu2
      left: auto
      text-align: right
      right: 58px
      align-items: flex-end

      a
        text-align: right
        padding-right: 0
        padding-left: 20px


  .logo
    font-size: 1.5em
    padding-right: 2vw
    border-right: 1px solid $W
    margin-right: 2vw

  .profile
    margin-right: 0px
    // pointer-events: stroke
    // word-break: keep-all
    // text-overflow: clip
    text-align: right

    span
      margin: 0
      margin-right: 12px

    img
      //width: calc(100% - 2px)
      //border: 1px solid $W
      display: block
      height: 100%
      // max-width: 60px
      // min-width: 30px
      width: 50px
      //box-shadow: $Shadow
      border-radius: 100%


.sidebar
  grid-area: sidebar
  background-color: $SidebarBG
  height: 100%
  width: 100%
  flex-grow: 1
  padding: 20px
  display: flex
  flex-flow: column nowrap
  color: $W

  .title
    font-size: 6em
    text-align: center
    width: 100%
    margin: 3vh auto 6vh
    text-transform: uppercase
    font-weight: 500
    font-stretch: semi-expanded

    &:hover
      color: $NavBG


  .info
    width: 80%
    font-style: italic
    border-bottom: 2px solid $W
    font-size: 2.8em
    margin-bottom: 4vh

  .actions
    width: 100%
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    justify-content: flex-start


select
  appearance: none

.arrow
  transition: $Fast
  display: inline-block

  select
    padding: 30px 70px 30px 55px
    margin: 0

    &:hover, &:focus
      transform: none

  &:hover
    transform: $Scale
    transition: $Fast

    &:after
      //margin-left: -42px
      //margin-right: -43px

  &:after
    position: relative
    top: -4px
    color: $W
    margin-left: -64px
    content: "▼"
    font-size: 1em



button, select
  min-width: 350px
  transition: $Fast
  margin-bottom: 3vh
  padding: 20px
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: 1.7em
  text-transform: capitalize
  background-color: $NavBG
  border: 0px solid $NavBG
  cursor: pointer
  color: $W

  &:hover
    transition: $Fast
    transform: $Scale


  &.faded
    color: darken($W, $amount)
    text-decoration: line-through

  option
    padding: 20px 0
    // border-top: 10px solid $SidebarBG

    &[value="0"]
      display: none

      // &:after
        padding-left: 10px
        content: "▼"
        font-size: 0.6em



main
  grid-area: main
  background-color: $MainBG
  padding: 80px
  height: 100%
  width: 100%
  flex-grow: 1
  color: $SidebarBG

  button, select
    padding: 30px 55px
    font-size: 2em
    background-color: $SidebarBG
    border: 0px solid $SidebarBG
